* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

#console {
    list-style-type: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 20px;
}
